.post-content p {
    border: 5px solid whitesmoke;
    font-family: monospace;
    background-color: lightgray;
}

.profile-picture {
    float: left;
    padding: 10px;
    margin: 6px;
}

.quicknotes {
    display: block;
    font-family: Comic Sans MS;
    padding: 10px;
    border-radius: 10px;
    background-color: #CCFFFF;
    outline: none; 
}

.ui .container {
    font-family: monospace;
}

#myCanvas {
    width: 100%;
    height: 100%;
    background-color: black;
}

.buttons {
    position: absolute;
    top: 50%;
    left: 25%;
}

#mainTitle {
    font-size: 60px;
    color: white;
    margin-bottom: 20px;
}

hr {
    width: 200px;
}