.post-content p {
    border: 5px solid whitesmoke;
    font-family: monospace;
    background-color: lightgray;
}

.profile-picture {
    float: left;
    padding: 10px;
    margin: 6px;
}

.quicknotes {
    display: block;
    font-family: Comic Sans MS;
    padding: 10px;
    border-radius: 10px;
    background-color: #CCFFFF;
    outline: none; 
}
