<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <canvas id="myCanvas" resize></canvas>
        
    <div id="mainDiv" class="ui inverted center aligned segment">
        <h1 id="mainTitle" class="ui centered header">Vishal</h1>
        <div class="ui clearing divider">
          <a href="https://github.com/dainvinc"><button class="ui inverted teal button"><i class="github icon"></i>Github</button></a>
          <a href="/resume.html"><button class="ui inverted olive button"><i class="external icon"></i>My Resume</button></a></div>
        <!--<div class="ui attached inverted segment">-->
                        
        <!--</div>-->

    </div>
    <div class="ui inverted center aligned segment">
      <p>&copy; Created in 2017</p>
    </div>
    
  </body>

</html>
