<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <canvas id="myCanvas" resize></canvas>
        
    <div class="ui inverted center aligned buttons">
        <h1 id="mainTitle" class="ui top inverted attached header">Vishal</h1>
        <hr><br>
        <div class="ui attached inverted segment">
            <a href="https://github.com/dainvinc"><button class="ui inverted teal button"><i class="github icon"></i>Github</button></a>
            <a href="/about.html"><button class="ui inverted olive button"><i class="external icon"></i>More about me</button></a>            
        </div>

    </div>
    
  </body>

</html>
