<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <canvas id="myCanvas" resize></canvas>
    
    <div class="ui inverted centered buttons">
        <a href="https://github.com/dainvinc"><button class="ui inverted teal button"><i class="github icon"></i>Github</button></a>
        <button class="ui inverted olive button"><i class="external icon"></i>More about me</button>
    </div>
    <div class="ui inverted segment">
        <button class="ui circular facebook icon button">
          <i class="facebook icon"></i>
        </button>
        <button class="ui circular twitter icon button">
          <i class="twitter icon"></i>
        </button>
        <button class="ui circular linkedin icon button">
          <i class="linkedin icon"></i>
        </button>
        <button class="ui circular google plus icon button">
          <i class="google plus icon"></i>
        </button>
    </div>
  </body>

</html>
